<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>17/10/01 23:51:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelTestNg.afterMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@53b32d7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@1456584695</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/01 23:51:10</td>   <td>-6320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@53b32d7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@1456584695</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/01 23:51:10</td>   <td>-6320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@53b32d7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@1456584695</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>17/10/01 23:51:16</td>   <td>-190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.openAmazonNavigationPage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@53b32d7]">openAmazonNavigationPage</td> 
  <td>TestNG-test=Test-method test-1@1456584695</td>   <td></td> </tr>
</table>
