<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>17/10/02 00:05:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowserTestNg.beforeTest(java.lang.String)[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@4667ae56]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 00:05:27</td>   <td>2142</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowserTestNg.beforeTest(java.lang.String)[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@6fd02e5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 00:05:47</td>   <td>22264</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowserTestNg.beforeTest(java.lang.String)[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 00:05:51</td>   <td>26298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowserTestNg.navigate()[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@490ab905]">navigate</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 00:05:57</td>   <td>32238</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowserTestNg.afterTest()[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@490ab905]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
